:root {
  --welcome-page1: rgb(14, 13, 13);
  --navbar-init: rgb(63, 61, 61);
  --welcome-page2: rgb(43, 42, 42);
  --projects-page1: rgb(16, 0, 27);
  --projects-page2: rgb(72, 47, 87);
  --contact-page1: rgb(0, 25, 27);
  --contact-page2: rgb(47, 79, 87);
  scroll-behavior: smooth;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--welcome-page1);
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 78, 78);
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* General */

body {
  background: rgb(12, 12, 12);
  margin: 0;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  text-align: center;
}

.button {
  transition: 0.4s;
}

.button:hover {
  transform: scale(1.2);
}

.scaled {
  transform: scale(1.2);
}

/* NAV-BAR */

#navbar {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: 0.4s;
}

#navbar ul {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  right: 40px;
  top: 1.5vh;
}

#navbar ul li a {
  text-decoration: none;
  font-weight: bolder;
}

.init {
  background: rgb(63, 61, 61);
}

.init a {
  color: rgb(255, 255, 255);
}

.scrolled {
  background: rgb(235, 232, 232);
}

.scrolled a {
  color: black;
}

/* WELCOME */

#welcome-section {
  margin: 10vh 0 0 0;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    60deg,
    var(--welcome-page2),
    var(--welcome-page1)
  );
}

#greeting {
  overflow: hidden;
  font-size: 4rem;
  color: white;
  text-align: left;
}

#about {
  color: aliceblue;
}

#resume {
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.project img {
  aspect-ratio: 4/3;
  width: 10px;
}

#togekiss {
  position: absolute;
  left: 20vw;
  bottom: 2vh;
  aspect-ratio: 300/280;
  width: 20%;
  z-index: 1;
  transform: scaleX(-1);
}

/* PROJECTS */

#projects {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    60deg,
    var(--projects-page2),
    var(--projects-page1)
  );
}

.project-info {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  cursor: default;
}

#projects-title {
  overflow: hidden;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.projects-container img {
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.projects-container::after {
  content: "";
  width: 350px;
}

.project-tile {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  min-width: 100px;
  height: 30vh;
  border-radius: 10px;
  transition: 0.5s;
}

.star {
  border: 1px solid rgba(255, 217, 0, 0.342);
}

.star img {
  border: 1px solid rgb(255, 217, 0);
}

.project-tile:hover img {
  display: none;
}

.project-tile:hover .project-info {
  width: auto;
  height: auto;
  overflow-y: scroll;
  position: relative;
  color: rgba(240, 248, 255, 0.781);
  margin: 0;
}

.project-tile:hover {
  background: rgba(0, 0, 0, 0.438);
}

.project-title a {
  overflow: hidden;
  font-size: 1rem;
  color: white;
  text-decoration: underline;
  transition: 0.5s;
}

.star a {
  color: rgba(255, 217, 0, 0.541);
}

.project-title a:hover {
  color: rgb(147, 255, 232);
  text-decoration: none;
}

#video-link {
  overflow: hidden;
  font-size: 1rem;
  color: rgb(147, 255, 232);
  text-decoration: none;
}

/* CONTACT */

#contact {
  padding-top: 100px;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    60deg,
    var(--contact-page2),
    var(--contact-page1)
  );
}

#contact h1 {
  overflow: hidden;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.media-container a {
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.media-container small {
  padding: 7px 5px 5px 5px;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
