body {
  background: rgb(20, 20, 20);
  font-family: "Open sans", Arial, sans-serif;
  color: rgb(216, 216, 216);
}

h1 {
  color: rgba(138, 255, 235, 0.87);
}

a {
  color: rgba(127, 255, 212, 0.678);
}

a:visited {
  color: rgba(29, 155, 228, 0.678);
}

a:hover {
  color: aliceblue;
}

li {
  list-style: circle;
}
