body {
  background: rgb(20, 20, 20);
  color: rgb(216, 216, 216);
  font-family: "Open sans", Arial, sans-serif;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 20px;
  margin-top: 25px;
}

a {
  color: rgba(127, 255, 212, 0.678);
}

a:visited {
  color: rgba(29, 155, 228, 0.678);
}

a:hover {
  color: aliceblue;
}

header {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 30px;
}

#navbar-header {
  margin: auto;
  text-decoration: none;
  text-align: center;
}

#navbar {
  border-right: 1px solid rgb(216, 216, 216);
  padding-right: 0;
  margin-right: 15px;
}

@media (max-width: 340px) {
  #navbar {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  #main-doc {
    width: 100%;
    height: 100%;
    margin-left: -30%px;
  }
}

#main-doc li {
  list-style: circle;
}

#navbar li {
  list-style: square;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

code {
  background: rgba(235, 235, 235, 0.897);
  color: black;
  padding: 3px;
  border-radius: 3px;
}
